@{
    ViewBag.Title = "Главная страница";
}

<h2>RESERVATION SYSTEM</h2>

<div>
    <a href="@Url.Action("ClassroomMethods", "Classroom")">Аудитории</a><br>
    
    <a href="@Url.Action("StudentMethods", "Student")">Студенты</a><br>
    
    <a href="@Url.Action("ChiefMethods", "Chief")">Ответственные</a><br>
</div>
