@{
    ViewBag.Title = "Изменение данных аудитории";
    Layout = "_Layout";
}

<h2>Изменить данные аудитории</h2>

<form id="updateClassroomForm" action="#">
    <div>
        <label for="classroomId">ID аудитории:</label>
        <input type="text" id="classroomId" name="classroomId" required>
    </div>
    <div>
        <label for="roomNumber">Номер аудитории:</label>
        <input type="text" id="roomNumber" name="roomNumber" required>
    </div>
    <div>
        <label for="capacity">Вместимость:</label>
        <input type="number" id="capacity" name="capacity" required>
    </div>
    <div>
        <label for="location">Местоположение:</label>
        <input type="text" id="location" name="location" required>
    </div>
    <button type="submit">Обновить</button>
</form>

<div id="updateStatus"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/classroom.js"></script>

