@{
    ViewBag.Title = "Удаление данных студента";
    Layout = "_Layout";
}

<h2>Удалить данные студента</h2>

<form id="deleteStudentForm" action="/student/delete" method="POST">
    <div>
        <label for="studentId">ID студента:</label>
        <input type="text" id="studentId" name="studentId" required>
    </div>
    <button type="submit">Удалить</button>
</form>

<div id="deleteStatus"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/student.js"></script>